---
http_interactions:
- request:
    method: get
    uri: https://rubygems.org/api/v2/rubygems/birdbrain/versions/0.9.6.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Sat, 30 Sep 2023 09:13:27 GMT
      X-Backend:
      - F_Rails 52.43.190.113:443
      Etag:
      - '"bd6872e0bc7eebcd1d4b271e2f46b255"'
    body:
      encoding: ASCII-8BIT
      string: '{"name":"birdbrain","downloads":13347,"version":"0.9.6","version_created_at":"2021-02-16T00:15:13.450Z","version_downloads":2520,"platform":"ruby","authors":"fmorton","info":"This
        Ruby library allows students to use Ruby to read sensors and set motors and
        LEDs with the Birdbrain Technologies Hummingbird Bit and Finch 2. To use Ruby
        with the Hummingbird Bit or Finch 2, you must connect via bluetooth with the
        BlueBird Connector.","licenses":["MIT"],"metadata":{"homepage_uri":"https://github.com/fmorton/BirdBrain-Ruby-Library","changelog_uri":"https://github.com/fmorton/BirdBrain-Ruby-Library/CHANGELOG.md","source_code_uri":"https://github.com/fmorton/BirdBrain-Ruby-Library","allowed_push_host":"https://rubygems.org"},"yanked":false,"sha":"c5bdeae5072c0c4e80acbd6c06d4242ef299a22d8254d458ecc6cff89cf05a21","spec_sha":"b258ba222765f67cd306e17c6363ec6c2591a91b62ac3ab13e4a0fef790f23af","project_uri":"https://rubygems.org/gems/birdbrain","gem_uri":"https://rubygems.org/gems/birdbrain-0.9.6.gem","homepage_uri":"https://github.com/fmorton/BirdBrain-Ruby-Library","wiki_uri":null,"documentation_uri":null,"mailing_list_uri":null,"source_code_uri":"https://github.com/fmorton/BirdBrain-Ruby-Library","bug_tracker_uri":null,"changelog_uri":"https://github.com/fmorton/BirdBrain-Ruby-Library/CHANGELOG.md","funding_uri":null,"dependencies":{"development":[],"runtime":[]},"built_at":"2021-02-16T00:00:00.000Z","created_at":"2021-02-16T00:15:13.450Z","description":"This
        Ruby library allows students to use Ruby to read sensors and set motors and
        LEDs with the Birdbrain Technologies Hummingbird Bit and Finch 2. To use Ruby
        with the Hummingbird Bit or Finch 2, you must connect via bluetooth with the
        BlueBird Connector.","downloads_count":2520,"number":"0.9.6","summary":"Ruby
        Library for BirdBrain Technologies Hummingbird Bit and Finch 2","rubygems_version":"\u003e=
        0","ruby_version":"\u003e= 2.7.0","prerelease":false,"requirements":[]}'
  recorded_at: Sun, 08 Dec 2024 19:21:34 GMT
recorded_with: VCR 6.3.1
