---
http_interactions:
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/wiktionary_api.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 54.200.34.25:443
    body:
      encoding: ASCII-8BIT
      string: '{"name":"wiktionary_api","downloads":199,"version":"0.1.1","version_created_at":"2024-12-21T05:04:59.140Z","version_downloads":116,"platform":"ruby","authors":"Ben
        D''Angelo","info":"A Ruby wrapper for the Wiktionary API (https://en.wiktionary.org/api/rest_v1/)","licenses":["MIT"],"metadata":{"homepage_uri":"https://codeberg.org/bendangelo/wiktionary_api","source_code_uri":"https://codeberg.org/bendangelo/wiktionary_api"},"yanked":false,"sha":"110c510d81b88a269634edc68a6ff2766429e9bc873a075a0e0388b2eeeae2f5","spec_sha":"a96405c76ff0901e986460e36bd816e77676b98fa842b504498bfbaebada49c1","project_uri":"https://rubygems.org/gems/wiktionary_api","gem_uri":"https://rubygems.org/gems/wiktionary_api-0.1.1.gem","homepage_uri":"https://codeberg.org/bendangelo/wiktionary_api","wiki_uri":null,"documentation_uri":null,"mailing_list_uri":null,"source_code_uri":"https://codeberg.org/bendangelo/wiktionary_api","bug_tracker_uri":null,"changelog_uri":null,"funding_uri":null,"dependencies":{"development":[{"name":"bundler","requirements":"~\u003e
        2.0"},{"name":"rake","requirements":"~\u003e 13.0"},{"name":"rspec","requirements":"~\u003e
        3.0"},{"name":"vcr","requirements":"~\u003e 6.0"},{"name":"webmock","requirements":"~\u003e
        3.0"}],"runtime":[{"name":"nokogiri","requirements":"~\u003e 1.13"}]}}'
  recorded_at: Mon, 23 Dec 2024 04:05:40 GMT
recorded_with: VCR 6.3.1
