---
http_interactions:
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/json-pointer.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 52.43.190.113:443
    body:
      encoding: ASCII-8BIT
      string: '{"name":"json-pointer","downloads":167985,"version":"0.0.1","version_created_at":"2013-04-07T01:05:05.211Z","version_downloads":167985,"platform":"ruby","authors":"Jesse
        Stuart","info":"JSON Pointer implementation","licenses":[],"metadata":{"homepage_uri":""},"yanked":false,"sha":"8bde183a443a53f708b501ba820bfa18eea571adf1a6132936eb1e5e9fbeb574","spec_sha":"dc7eeef8f7b55c2efff2d963d75e3cc934d49971f876c5c91ae34fd4c0f93dc0","project_uri":"https://rubygems.org/gems/json-pointer","gem_uri":"https://rubygems.org/gems/json-pointer-0.0.1.gem","homepage_uri":"","wiki_uri":null,"documentation_uri":null,"mailing_list_uri":null,"source_code_uri":null,"bug_tracker_uri":null,"changelog_uri":null,"funding_uri":null,"dependencies":{"development":[{"name":"rake","requirements":"\u003e=
        0"},{"name":"rspec","requirements":"~\u003e 2.11"}],"runtime":[]}}'
  recorded_at: Sun, 01 Dec 2024 00:56:50 GMT
recorded_with: VCR 6.3.1
