---
http_interactions:
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/rails.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 54.68.67.63:443
    body:
      encoding: ASCII-8BIT
      string: '{"name":"rails","downloads":567406953,"version":"8.0.0","version_created_at":"2024-11-07T22:30:42.971Z","version_downloads":238710,"platform":"ruby","authors":"David
        Heinemeier Hansson","info":"Ruby on Rails is a full-stack web framework optimized
        for programmer happiness and sustainable productivity. It encourages beautiful
        code by favoring convention over configuration.","licenses":["MIT"],"metadata":{"changelog_uri":"https://github.com/rails/rails/releases/tag/v8.0.0","bug_tracker_uri":"https://github.com/rails/rails/issues","source_code_uri":"https://github.com/rails/rails/tree/v8.0.0","mailing_list_uri":"https://discuss.rubyonrails.org/c/rubyonrails-talk","documentation_uri":"https://api.rubyonrails.org/v8.0.0/","rubygems_mfa_required":"true"},"yanked":false,"sha":"402dd94e82e1ff85c1c18a360894ec59dfe196335c310571c5faee89f4b321a4","spec_sha":"7c2a7d3829103f0e7b701ed9cc0efe893fbb6f329e9f99e821f7fe94c8e7970d","project_uri":"https://rubygems.org/gems/rails","gem_uri":"https://rubygems.org/gems/rails-8.0.0.gem","homepage_uri":"https://rubyonrails.org","wiki_uri":null,"documentation_uri":"https://api.rubyonrails.org/v8.0.0/","mailing_list_uri":"https://discuss.rubyonrails.org/c/rubyonrails-talk","source_code_uri":"https://github.com/rails/rails/tree/v8.0.0","bug_tracker_uri":"https://github.com/rails/rails/issues","changelog_uri":"https://github.com/rails/rails/releases/tag/v8.0.0","funding_uri":null,"dependencies":{"development":[],"runtime":[{"name":"actioncable","requirements":"=
        8.0.0"},{"name":"actionmailbox","requirements":"= 8.0.0"},{"name":"actionmailer","requirements":"=
        8.0.0"},{"name":"actionpack","requirements":"= 8.0.0"},{"name":"actiontext","requirements":"=
        8.0.0"},{"name":"actionview","requirements":"= 8.0.0"},{"name":"activejob","requirements":"=
        8.0.0"},{"name":"activemodel","requirements":"= 8.0.0"},{"name":"activerecord","requirements":"=
        8.0.0"},{"name":"activestorage","requirements":"= 8.0.0"},{"name":"activesupport","requirements":"=
        8.0.0"},{"name":"bundler","requirements":"\u003e= 1.15.0"},{"name":"railties","requirements":"=
        8.0.0"}]}}'
  recorded_at: Sun, 01 Dec 2024 00:56:48 GMT
recorded_with: VCR 6.3.1
