---
http_interactions:
- request:
    method: get
    uri: https://rubygems.org/api/v2/rubygems/standard/versions/1.42.1.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Tue, 19 Nov 2024 00:56:54 GMT
      X-Backend:
      - F_Rails 44.233.66.239:443
      Etag:
      - '"3957dd5fc92c6473b12f84d21487aa77"'
    body:
      encoding: ASCII-8BIT
      string: '{"name":"standard","downloads":22791345,"version":"1.42.1","version_created_at":"2024-11-19T00:56:52.880Z","version_downloads":124071,"platform":"ruby","authors":"Justin
        Searls","info":"Ruby Style Guide, with linter \u0026 automatic code fixer","licenses":[],"metadata":{"homepage_uri":"https://github.com/standardrb/standard","changelog_uri":"https://github.com/standardrb/standard/blob/main/CHANGELOG.md","source_code_uri":"https://github.com/standardrb/standard","rubygems_mfa_required":"true"},"yanked":false,"sha":"5ae80bb45d56b71d225ff086cd894af05db228c8b6efce73549cefe90b329a2e","spec_sha":"46b9bd31d425582083d338943167a0dffa4084c69445b2944a25aeafc3458eec","project_uri":"https://rubygems.org/gems/standard","gem_uri":"https://rubygems.org/gems/standard-1.42.1.gem","homepage_uri":"https://github.com/standardrb/standard","wiki_uri":null,"documentation_uri":null,"mailing_list_uri":null,"source_code_uri":"https://github.com/standardrb/standard","bug_tracker_uri":null,"changelog_uri":"https://github.com/standardrb/standard/blob/main/CHANGELOG.md","funding_uri":null,"dependencies":{"development":[],"runtime":[{"name":"language_server-protocol","requirements":"~\u003e
        3.17.0.2"},{"name":"lint_roller","requirements":"~\u003e 1.0"},{"name":"rubocop","requirements":"~\u003e
        1.68.0"},{"name":"standard-custom","requirements":"~\u003e 1.0.0"},{"name":"standard-performance","requirements":"~\u003e
        1.5"}]},"built_at":"2024-11-19T00:00:00.000Z","created_at":"2024-11-19T00:56:52.880Z","description":null,"downloads_count":124071,"number":"1.42.1","summary":"Ruby
        Style Guide, with linter \u0026 automatic code fixer","rubygems_version":"\u003e=
        0","ruby_version":"\u003e= 3.0.0","prerelease":false,"requirements":[]}'
  recorded_at: Sun, 01 Dec 2024 00:54:20 GMT
recorded_with: VCR 6.3.1
