---
http_interactions:
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/ble.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 54.68.67.63:443
    body:
      encoding: ASCII-8BIT
      string: '{"name":"ble","downloads":13812,"version":"1.0.0","version_created_at":"2018-09-11T07:14:36.396Z","version_downloads":3468,"platform":"ruby","authors":"Stephane
        D''Alu","info":"Allow access to Bluetooth Low Energy device from ruby","licenses":["MIT"],"metadata":{},"yanked":false,"sha":"c55f24dc1932a27d3271f9c93fb730accfaf8391cf8660ffa7acbba48d4b630b","spec_sha":"50c978e11f4e7b769b7faa02abe29bacee02076c66b35f73128c5656c9789d70","project_uri":"https://rubygems.org/gems/ble","gem_uri":"https://rubygems.org/gems/ble-1.0.0.gem","homepage_uri":"http://gitlab.com/sdalu/ruby-ble","wiki_uri":null,"documentation_uri":"https://www.rubydoc.info/gems/ble/1.0.0","mailing_list_uri":null,"source_code_uri":null,"bug_tracker_uri":null,"changelog_uri":null,"funding_uri":null,"dependencies":{"development":[{"name":"github-markup","requirements":"\u003e=
        0"},{"name":"rake","requirements":"\u003e= 0"},{"name":"redcarpet","requirements":"\u003e=
        0"},{"name":"yard","requirements":"\u003e= 0"}],"runtime":[{"name":"concurrent-ruby","requirements":"\u003e=
        0"},{"name":"ruby-dbus","requirements":"\u003e= 0"}]}}'
  recorded_at: Sun, 01 Dec 2024 00:56:50 GMT
recorded_with: VCR 6.3.1
