---
http_interactions:
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/json.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 52.43.190.113:443
    body:
      encoding: ASCII-8BIT
      string: '{"name":"json","downloads":922743728,"version":"2.9.0","version_created_at":"2024-12-03T08:25:11.979Z","version_downloads":1671518,"platform":"ruby","authors":"Florian
        Frank","info":"This is a JSON implementation as a Ruby extension in C.","licenses":["Ruby"],"metadata":{"wiki_uri":"https://github.com/ruby/json/wiki","homepage_uri":"https://ruby.github.io/json","changelog_uri":"https://github.com/ruby/json/blob/master/CHANGES.md","bug_tracker_uri":"https://github.com/ruby/json/issues","source_code_uri":"https://github.com/ruby/json","documentation_uri":"https://ruby.github.io/json/doc/index.html"},"yanked":false,"sha":"7c0ebdad9d030e6d572cd6f1b4e93d1d81b32c4c7dff611c1ef7825110fc6bcf","spec_sha":"232ae59c64868c4549a2a014ef6ede3692f0e9c78118fcf7cd82402d1f2ac699","project_uri":"https://rubygems.org/gems/json","gem_uri":"https://rubygems.org/gems/json-2.9.0.gem","homepage_uri":"https://ruby.github.io/json","wiki_uri":"https://github.com/ruby/json/wiki","documentation_uri":"https://ruby.github.io/json/doc/index.html","mailing_list_uri":null,"source_code_uri":"https://github.com/ruby/json","bug_tracker_uri":"https://github.com/ruby/json/issues","changelog_uri":"https://github.com/ruby/json/blob/master/CHANGES.md","funding_uri":null,"dependencies":{"development":[],"runtime":[]}}'
  recorded_at: Fri, 13 Dec 2024 04:09:15 GMT
recorded_with: VCR 6.3.1
