---
http_interactions:
- request:
    method: get
    uri: https://rubygems.org/api/v1/versions/standard.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Tue, 19 Nov 2024 00:56:54 GMT
      X-Backend:
      - F_Rails 52.43.190.113:443
      Etag:
      - '"3957dd5fc92c6473b12f84d21487aa77"'
    body:
      encoding: ASCII-8BIT
      string: '[{"authors":"Justin Searls","built_at":"2024-11-19T00:00:00.000Z","created_at":"2024-11-19T00:56:52.880Z","description":null,"downloads_count":205466,"metadata":{"homepage_uri":"https://github.com/standardrb/standard","changelog_uri":"https://github.com/standardrb/standard/blob/main/CHANGELOG.md","source_code_uri":"https://github.com/standardrb/standard","rubygems_mfa_required":"true"},"number":"1.42.1","summary":"Ruby
        Style Guide, with linter \u0026 automatic code fixer","platform":"ruby","rubygems_version":"\u003e=
        0","ruby_version":"\u003e= 3.0.0","prerelease":false,"licenses":[],"requirements":[],"sha":"5ae80bb45d56b71d225ff086cd894af05db228c8b6efce73549cefe90b329a2e","spec_sha":"46b9bd31d425582083d338943167a0dffa4084c69445b2944a25aeafc3458eec"},{"authors":"Justin
        Searls","built_at":"2024-11-12T00:00:00.000Z","created_at":"2024-11-12T21:05:38.433Z","description":null,"downloads_count":63517,"metadata":{"homepage_uri":"https://github.com/standardrb/standard","changelog_uri":"https://github.com/standardrb/standard/blob/main/CHANGELOG.md","source_code_uri":"https://github.com/standardrb/standard","rubygems_mfa_required":"true"},"number":"1.42.0","summary":"Ruby
   [...]
