---
http_interactions:
- request:
    method: get
    uri: https://rubygems.org/api/v1/versions/dry-struct.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Sat, 30 Sep 2023 12:50:55 GMT
      X-Backend:
      - F_Rails 52.43.190.113:443
      Etag:
      - '"bc1db7d967ca1279f698a827a50e8ee0"'
    body:
      encoding: ASCII-8BIT
      string: '[{"authors":"Piotr Solnica","built_at":"2022-11-04T00:00:00.000Z","created_at":"2022-11-04T17:52:19.380Z","description":"Typed
        structs and value objects","downloads_count":7496385,"metadata":{"changelog_uri":"https://github.com/dry-rb/dry-struct/blob/main/CHANGELOG.md","bug_tracker_uri":"https://github.com/dry-rb/dry-struct/issues","source_code_uri":"https://github.com/dry-rb/dry-struct","allowed_push_host":"https://rubygems.org"},"number":"1.6.0","summary":"Typed
        structs and value objects","platform":"ruby","rubygems_version":"\u003e= 0","ruby_version":"\u003e=
        2.7.0","prerelease":false,"licenses":["MIT"],"requirements":[],"sha":"3737025b3a6cd50fd4e6f42883cbb8d5e0d07680bc8310f7dc0db8c8897dd4e6","spec_sha":"825189354f9d0a35ff51ed381223c38260ca6871927ce45844cd5fa79f3c183e"},{"authors":"Piotr
        Solnica","built_at":"2022-10-19T00:00:00.000Z","created_at":"2022-10-19T08:43:17.225Z","description":"Typed
        structs and value objects","downloads_count":4062223,"metadata":{"changelog_uri":"https://github.com/dry-rb/dry-struct/blob/main/CHANGELOG.md","bug_tracker_uri":"https://github.com/dry-rb/dry-struct/issues","source_code_uri":"https://github.com/dry-rb/dry-struct","allowed_push_host":"https[...]
