---
http_interactions:
- request:
    method: get
    uri: https://rubygems.org/api/v1/activity/just_updated.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 54.68.67.63:443
    body:
      encoding: ASCII-8BIT
      string: '[{"name":"active_model_serializers","downloads":102108393,"version":"0.10.15","version_created_at":"2024-12-01T00:56:35.774Z","version_downloads":0,"platform":"ruby","authors":"Steve
        Klabnik","info":"ActiveModel::Serializers allows you to generate your JSON
        in an object-oriented and convention-driven manner.","licenses":["MIT"],"metadata":{},"yanked":false,"sha":"08275b2083ab4e8304279d838b99af546878e0d879a8154f731b0d16cb8b0c4c","spec_sha":"22257af7785b8761544ead058b23bdbb19f96d998121a153ee986cfc44178a13","project_uri":"https://rubygems.org/gems/active_model_serializers","gem_uri":"https://rubygems.org/gems/active_model_serializers-0.10.15.gem","homepage_uri":"https://github.com/rails-api/active_model_serializers","wiki_uri":"","documentation_uri":"http://rubydoc.info/gems/active_model_serializers","mailing_list_uri":"https://groups.google.com/forum/#!forum/rails-api-core","source_code_uri":"http://github.com/rails-api/active_model_serializers","bug_tracker_uri":"http://github.com/rails-api/active_model_serializers/issues","changelog_uri":null,"funding_uri":null,"dependencies":{"development":[{"name":"activerecord","requirements":"\u003e=
        4.1"},{"name":"bundler","requirements":"\u003e= 0"},{"name":"grape","requirements":"\u003e=
        0.13"},{"name":"json_schema","requirements":"\u003e= 0"},{"name":"kaminari","requirements":"~\u003e
        0.16.3"},{"name":"minitest","requirements":"~\u003e 5.0, \u003c 5.11"},{"name":"railties","requirements":"\u003e=
        4.1"},{"name":"rake","requirements":"\u003e= 10.0"},{"name":"timecop","requirements":"~\u003e
        0.7"},{"name":"will_paginate","requirements":"~\u003e 3.0, \u003e= 3.0.7"}],"runtime":[{"name":"actionpack","requirements":"\u003e=
        4.1"},{"name":"activemodel","requirements":"\u003e= 4.1"},{"name":"case_transform","requirements":"\u003e=
        0.2"},{"name":"jsonapi-renderer","requirements":"\u003e= 0.1.1.beta1, \u003c
        0.3"}]}},{"name":"jipcode","downloads":866500,"version":"3.1.6","version_created_at":"2024-12-01T00:43:21.768Z","version_downloads":6,"platform":"ruby","authors":"rinkei","info":"A
        gem for Japan Post''s official zipcode data search \u0026[...]
